<div id="app">
</div>

<script type="html/javascript" id="AppViewTemplate">

<div id="searchForm">
<input placeholder= "From" id= "tb1"></input>
<input placeholder= "To" id = "tb2"></input>  <br>
<button>Search</button>
</div>
<div id="appView">
  <h1>Flight Search Results</h1>


  <table id="flightsTable">
      <tr>
        <td>Date</td>
        <td>Flight Number</td>
        <td>Origin</td>
        <td>Destination</td>
        <td>Plane</td>
      <tr>
  </table>
<hr/>
</div>

</script>

<script type="html/javascript" id="FlightViewTemplate">
      <td>{{ date }}</td>
      <td>{{ flight_no }}</td>
      <td>{{ origin }}</td>
      <td>{{ destination }}</td>
</script>

<script type="html/javascript" id="ReservationViewTemplate">

    <tr>
      <td>{{ date }}</td>
      <td>{{ flight_no }}</td>
      <td>{{ origin }}</td>
      <td>{{ destination }}</td>
    <tr>

</script>
