<div id="app">
  This is where Backbone will load all the app HTML.
</div>

<script type="html/javascript" id="AppViewTemplate">
<div id="appView">
  <h1>Our Flights App</h1>
  <hr/>
  <nav>
      <a href="#">All Flights</a>
      <a href="#">A Flight</a>
  </nav>
  <table id="flightsTable">
      <tr>
        <td>Date</td>
        <td>Flight Number</td>
        <td>Origin</td>
        <td>Destination</td>
      <tr>
  </table>

</div>
</script>

<script type="html/javascript" id="FlightViewTemplate">

    <tr>
      <td>{{ date }}</td>
      <td>{{ flight_no }}</td>
      <td>{{origin}}</td>
      <td>{{destination}}</td>
    <tr>

</script>

<script type="html/javascript" id="ReservationViewTemplate">

    <tr>
      <td>{{ date }}</td>
      <td>{{ flight_no }}</td>
      <td>{{ origin }}</td>
      <td>{{ destination }}</td>
    <tr>

</script>
