<h1>New Airplane</h1>

<%= render 'form', airplane: @airplane %>

<!-- <%= link_to 'Back', airplanes_path %> -->
<!-- <div class="row">
  <div class="col offset-m3 m6">
    <%= link_to 'Back', airplanes_path %>
  </div>
</div> -->
